.square{

    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
      align-items: center;
       
     
    /* transform: translate(-50%,-50%);  */
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-delay: 4s;
    /* padding: 50px; */

}
.square1{

    width: 150px;
    height: 150px;
    background-color: darkturquoise;
    position: relative;
      align-items: center;
       
     
    /* transform: translate(-50%,-50%);  */
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-delay: 2s;
    /* padding: 50px; */

}
@keyframes rotate
{
   0%{
    background-color: aqua;left: 0px;top: 0px;

   }
   25%
   {
      background-color: brown;left: 600px; top: 0px;
   }
   50%
   {
      background-color:violet;left: 400px; top: 400px;
   }
   75%
   {
      background-color:darkcyan;left: 0px; top: 400px;
   }
   100%
   {
      background-color: darkorange;left: 0px; top: 0px;
   }

}
