*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/* #homepage{
    padding: 1rem;
} */
nav{
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    color: #15294B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}
/* .logo{
    font-size: 1.5rem;
    color:#15294B;
    font-weight: 1000;
} */

ul{
    display: flex;
    list-style:none;
    font-weight: 400;
    align-items: center;
}
ul a{
    text-decoration: none; 
}

ul a li {  

    margin-right:20px; 
    /* text-align: center;  */
     
}
#navbtn{
    margin-left: 2em;
    box-shadow: 0px 4px 70px 0px rgba(30, 40, 52, 0.08);
    background: rgba(29, 41, 57, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
    margin-top: 0;


}
.headdinpage{
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
}
.hand{
    padding: 1em;
    background: rgba(242, 244, 247, 1);
    border-radius: 2em;

}
.mainhedding h1{
    color:rgba(234, 156, 40, 1);
    font-weight: 700;
    font-size: 80px;
    


}
.second{
    color:rgba(234, 156, 40, 1);
    font-weight: 700;
    font-size: 80px;
    text-align: center;
}
.passage{
    padding: 2rem;
    text-align: center;
    font-size: 2em;
    line-height: 42px;
}
.mainpage{
  background: #F2F4F7;
   height: auto;
   width: 100%;
}
.belowhead{
    display: flex;
    justify-content: space-between; 
    padding: 1% 15% 1% 10%;
}
.DailyDigest{
    font-size: 2rem;
    font-weight: 700;
    color: #1D2939;
}
.view{
padding: 5px;
background-color: #FFFFFF;
border-radius: 10px;
}
.card1{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    margin: 0 10%;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}
.content p{
    font-size: 1em;
    font-weight: 500;
  padding: 15px;
   
}
.content h3{
    font-size: 2em;
    font-weight: 600;
    padding: 20px;
   
}
.card2{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    /* margin: 0 10%; */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    margin: 2em 10%;
}
.card3{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    margin: 0 10% 5% 10%;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    
}
/* .card4{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    margin: 0 10%;
    justify-content: space-around;
    align-items: center;

} */
/* .card5{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
   
    margin: 2em 10%;

} */
/* .card6{
    width: 980px;
    height: 260px;
    display: flex;
    background-color:  #FFFFFF;
    border-radius: 20px;
    margin: 0 10%;
    justify-content: space-around;
    align-items: center;
} */

.bottom{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.bottom h1{
    padding: 1rem;
    color:hsl(34, 88%, 60%);
    font-weight: 700;
    font-size: 2em;

}
.bottom p{
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 1.5em;

}
.btn{
    background-color: #1D2939;
    color: #FFFFFF;
    margin-bottom: 3em;
    padding: 1em;
    
}
.cards{
   padding: 10% 0;
}
.txt{
    padding: 1em;
    width: 300px;
}
footer{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
footer p{
    font-size: 1em;
    font-weight: 400;
    padding: 2em;
}
.more{
   text-align: center;
    /* margin: 12px auto; */
    
}
.more input{
    background-color: #FFFFFF;
    border-radius: 3px;
    border: none;

}
@media only screen and(max-width:600px) {
   
    .card1{
        width: 980px;
        height: 260px;
        display: flex;
        background-color:  #FFFFFF;
        border-radius: 20px;
        margin: 0 10%;
        justify-content: space-around;
        align-items: center;
        /* text-align: center; */
    }
    .content p{
        font-size: 1em;
        font-weight: 500;
      padding: 15px;
       
    }
    .content h3{
        font-size: 2em;
        font-weight: 600;
        padding: 20px;
       
    }
    .card2{
        width: 980px;
        height: 260px;
        display: flex;
        background-color:  #FFFFFF;
        border-radius: 20px;
        /* margin: 0 10%; */
        justify-content: space-around;
        align-items: center;
        /* text-align: center; */
        margin: 2em 10%;
    }
    .card3{
        width: 980px;
        height: 260px;
        display: flex;
        background-color:  #FFFFFF;
        border-radius: 20px;
        margin: 0 10% 5% 10%;
        justify-content: space-around;
        align-items: center;
        /* text-align: center; */
        
    }
    nav{
        border: 2px solid red;
        background-color: #FFFFFF;
        color: #15294B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
    }
    ul{
        display: flex;
        list-style:none;
        font-weight: 400;
        align-items: center;
    }
    ul a{
        text-decoration: none; 
    }
    
    ul a li {  
    
        margin-right:20px; 
        /* text-align: center;  */
         
    }
    #navbtn{
        margin-left: 2em;
        box-shadow: 0px 4px 70px 0px rgba(30, 40, 52, 0.08);
        background: rgba(29, 41, 57, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        padding: 10px;
        margin-top: 0;
    
    
    }
    .headdinpage{
        display: flex;
        margin: 2rem auto;
        flex-direction: column;
        align-items: center;
    }
    .hand{
        padding: 1em;
        background: rgba(242, 244, 247, 1);
        border-radius: 2em;
    
    }
    .mainhedding h1{
        color:rgba(234, 156, 40, 1);
        font-weight: 700;
        font-size: 80px;
        
    
    
    }
    .second{
        color:rgba(234, 156, 40, 1);
        font-weight: 700;
        font-size: 80px;
        text-align: center;
    }
    .passage{
        padding: 2rem;
        text-align: center;
        font-size: 2em;
        line-height: 42px;
    }
    .mainpage{
      background: #F2F4F7;
       height: auto;
       width: 100%;
    }
    .belowhead{
        display: flex;
        justify-content: space-between; 
        padding: 1% 15% 1% 10%;
    }
    .DailyDigest{
        font-size: 2rem;
        font-weight: 700;
        color: #1D2939;
    }
    .view{
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    }
    .bottom{
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .bottom h1{
        padding: 1rem;
        color:hsl(34, 88%, 60%);
        font-weight: 700;
        font-size: 2em;
    
    }
    .bottom p{
        padding-bottom: 1em;
        font-weight: 400;
        font-size: 1.5em;
    
    }
    .btn{
        background-color: #1D2939;
        color: #FFFFFF;
        margin-bottom: 3em;
        padding: 1em;
        
    }
    .cards{
       padding: 10% 0;
    }
    .txt{
        padding: 1em;
        width: 300px;
    }
    footer{
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    footer p{
        font-size: 1em;
        font-weight: 400;
        padding: 2em;
    }
    .more{
       text-align: center;
        /* margin: 12px auto; */
        
    }
    .more input{
        background-color: #FFFFFF;
        border-radius: 3px;
        border: none;
    
    }
    
}


