body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h2{
    text-align: center;
    padding: 24px;
    font-size: 4rem;
}
img{
    width: 100%;
    padding: 16px;
    display: grid;
    justify-content: center;
}
.content{
    font-size: 1em;
    line-height: 1.2;
}
h3{
    text-align: center;
}
footer {
    background-color: grey;
    color:white;
    display: grid;
   font-size: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
}
